
#content{
    @include container;
    @include span(6 at 5 out of 12);
    display:inline-block;
    width:100%;
    .scene {
    text-align:left;
    padding: 1em 4em 1em 6em;
}
}

.container{
    @include container;
}