.container{
    @include container;
	#content{
	    @include span(6 at 6 out of 12);
	    float:left;
	    display:inline-block;
	    .scene {
	    display:block;
	    text-align:left;
	    padding: 0em 0em 1em 0em;
		}
	}
}