
nav, .navbar{
    @include container;
    @include span(4 at 1 of 12);
    @include clearfix;
    line-height:25px;
    padding-top:0;
    font-style:italic;
    text-decoration:none!important;
    max-width:180px;
    color:$dark;
    text-align:left;
    float:left;
    display:inline-block;
    ul{
        li{
            a:link{
            font-family: $headFont;
            color:$dark;
            background-color:$white;
            text-decoration:none!important;
            display:inline-block;
            font-size: 1em;
            }
            a:active{
            font-family: $headFont;
            color:$dark;
            background-color:$white;
            text-decoration:none!important;
            display:inline-block;
            font-size: 1em;
            }
            a:visited{
            font-family: $headFont;
            color:$dark;
            background-color:$white;
            text-decoration:none!important;
            display:inline-block;
            font-size: 1em;
            }
            a:hover{
            font-family: $headFont $heavy;
            color:$white;
            background-color:$dark;
            text-decoration:none!important;
            display:inline-block;
            font-size: 1em;
            }
        }
    }

}
